<div class="well sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
        {% for category in cat_data %}
            <li class="nav-header"><a href="{{ path('category_list_product', {'catId': category['id']}) }}">{{ category['name'] }}</a></li>
            {% if category['childs'] is defined %}
                {% for childData in category['childs'] %}
                <li><a href="{{ path('category_list_product', {'catId': childData['id']}) }}">{{ childData['name'] }}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>