{% extends 'VisFashionBundle::layout.html.twig' %}

{% set items_per_row = 3 %}
{% set span_size = 12 / items_per_row %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/visfashion/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/visfashion/js/bootstrap-slider.js') }}"></script>
{% endblock %}
    
{% block title %}Търсене{% endblock %}
    
{% block content %}
    {% if products is defined %}
        {% set row_opened = false %}

        {% for product in products %}
            {% if loop.index0 % items_per_row == 0 %}
                {% if row_opened %}
                </div>
                {% endif %}
                
                {% set row_opened = true %}
                <div class="row-fluid">
            {% endif %}

            <div class="span{{ span_size }} product">
                <h3>{{ product.title }}</h3>
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x200" />
                        </div>
                    </li>
                </ul>
                <p><a href="{{ path('product_show', {'id': product.id}) }}" class="btn">Детайли &rsaquo;&rsaquo;</a></p>
            </div>
        {% endfor %}

        {% if row_opened %}
        </div>
        {% endif %}

        {% if pagination is defined %}
            {{ knp_pagination_render(pagination) }}
        {% endif %}
    {% endif %}
{% endblock %}