{% extends "::base.html.twig" %}

{% block title %}VisFashionBundle:Category:list{% endblock %}

{% block body %}
<h1>Welcome to the Category:list page</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Parent ID</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.parentId }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
