<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="{{ asset('bundles/visfashion/css/bootstrap.css') }}" />
        <style>
            body {
                background: #f5f5f5;
            }
            
            .fashion-error {
                position: absolute;
                top: 50%;
                width: 100%;
                margin-top: -120px;
            }
                
            .error-code {
                line-height: 150px;
                font-size: 150px;
            }
            
            .error-message {
                line-height: 36px;
                font-size: 36px;
            }
        </style>
    </head>
    <body>
        <div class="fashion-error">
            <h1 class="error-code text-center">{{ status_code }}</h1>
            <h2 class="error-message text-center">{{ status_text }}</h2>
        </div>
    </body>
</html>