<div class="span{{ span_size }} product">
    <h4>{{ product.title }}
        <a href="{{ path('product_compare_add', {'id': product.id}) }}" class="btn btn-link btn-mini pull-right"><i class="icon-plus"></i></a>
    </h4>
    <ul class="thumbnails">
        <li class="span12">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" />
            </div>
        </li>
    </ul>
    <div class="product-nav">
        <p class="price label label-important pull-left">{{ product.price }} лв.</p>
        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn pull-right">Детайли &rsaquo;&rsaquo;</a>
    </div>
</div>