{% extends 'VisFashionBundle::layout.html.twig' %}

{% set items_per_row = 4 %}
{% set span_size = 12 / items_per_row %}
{% set row_opened = false %}

{% block content %}
<div>
    {% for product in products %}
        {% if loop.index0 % items_per_row == 0 %}
            {% if row_opened %}
            </div>
            {% endif %}
        
            {% set row_opened = true %}
            <div class="row-fluid">
        {% endif %}
        <div class="span{{ span_size }} product">
            <h4>{{ product.title }}</h4>
            <p><a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-link">Детайли &rsaquo;&rsaquo;</a></p>
            <ul class="thumbnails">
                <li class="span12">
                    <div class="thumbnail">
                        <img src="http://placehold.it/300x200" />
                    </div>
                </li>
            </ul>
            <p>Цена: <strong>{{ product.price }}</strong></p>
            <p>Търговец: <strong><a href="{{ path('v_show', {'id': product.vendor.id}) }}">{{ product.vendor.title }}</a></strong></p>
            <p>Категория: <strong>{{ product.category.name }}</strong></p>
            <p>Тип: <strong>{{ product.type }}</strong></p>
            <p>Марка: <strong>{{ product.producer.name }}</strong></p>
            <p>Размери:
                <strong>
                {% for s in product.sizes %}
                    {{ s.size }}
                {% endfor %}
                </strong>
            </p>
            {% for p in product.fields %}
            <p>{{ p.name | capitalize }}: <strong>{{ p.data }}</strong></p>
            {% endfor %}
            <p>Описание:</p>
            <p>{{ product.description | nl2br }}</p>
        </div>
    {% else %}
        <div class="well">No products added for comparison</div>
    {% endfor %}
    {% if row_opened %}
        </div>
    {% endif %}
</div>
{% endblock %}
