{% extends 'VisFashionBundle::layout.html.twig' %}

{% block title %}Преглед на продукт{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/visfashion/css/flags32.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="offset1">
    <span class="text-center offset1">
        <h2>{{ product.title }}</h2>
    </span>
    <ul class="thumbnails span4">
        <li class="span12">
            <div class="thumbnail">
                <img src="http://placehold.it/345x300">
            </div>
        </li>
    </ul>
    <div class="details span5">
        <dl id="product-fields" class="dl-horizontal">
            <dt>Име</dt>
            <dd>{{ product.title }}</dd>

            <dt>Цена</dt>
            <dd>{{ product.price }}</dd>

            <dt>Тип</dt>
            <dd>{{ product.type|replace({'M':'Мъжки', 'F':'Женски', 'U':'Универсални'}) }}</dd>

            <dt>Производител</dt>
            <dd>{{ product.producer.name }}</dd>
            
            <dt class="country-origin">Страна на произход</dt>
            <dd class="country-origin">
                <ul class="f32" style="margin: 0px">
                    <li class="flag {{ product.country.id|lower }}" style="line-height: 32px">{{ product.country.name }}</li>
                </ul>
            </dd>

            <dt>Размери</dt>
            <dd>{% for size in product.sizes.toArray() %}{{ size.getSize() }}&nbsp;{% endfor %}</dd>
            
            <dt>Описание</dt>
            <dd>{{ product.description|nl2br }}&nbsp;</dd>
            
            <dt>Качено от</dt>
            <dd>{{ product.vendor.title }}</dd>
            
            <dt>Качено на</dt>
            <dd>{{ product.dateCreated|date('d.m.Y H:i:s') }}</dd>
            
            <dt>Последна промяна</dt>
            <dd>{{ product.dateUpdated|date('d.m.Y H:i:s') }}</dd>
        </dl>
    </div>
    {% if is_granted('EDIT', product) %}
    <div class="span1">
        <a class="btn btn-medium" href="{{ path('vendor_product_edit', {'id': product.id, 'vendor_id': product.vendor.id }) }}">Редактиране</a>
    </div>
    {% endif %}
    <div class="row-fluid span10">
        {% set token = form_row(commentForm._token) %}

        {% if comments is not empty %}
        <h3>Коментари: </h3>
        {% for c in comments %}
        <article class="comment">

        {% if is_granted('EDIT', c) %}
            <button class="btn comment-toggle-edit"><i class="icon-edit"></i> Edit</button>
        {% endif %}
            <p>Author: {{ c.creator.username }}</p>
            <form method="post" action="{{ path('comment_update', {'id': c.id}) }}">
                <textarea name="vis_fashionbundle_commenttype[content]" class="input-block-level" disabled="true">{{ c.content }}</textarea>
                {{ token | raw }}
            </form>
            <p>
            Created: {{ c.dateCreated | date('Y-m-d H:i:s') }}
            {% if c.dateCreated != c.dateUpdated %}
            Last Updated: {{ c.dateUpdated | date('Y-m-d H:i:s') }} by {{ c.updator.username }}
            {% endif %}
            </p>
        </article>
        <hr/>
        {% endfor %}
        
        {% else %}
            <h4 class="text-center well">Няма добавени коментари</h4>
        {% endif %}
    </div>
    <div class="navigation"> {{ knp_pagination_render(comments) }}</div>
    <div class="span6 offset2">
    {% if is_granted('ROLE_USER') %}
        {{ form_start(commentForm) }}
            {{ form_row(commentForm.content, {'attr': {'class': 'input-block-level'}}) }}
            <input type="submit" class="btn btn-primary" value="Добави"/>
            {{ token | raw }}
        {{ form_end(commentForm) }}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block rightSide %}
    {% 
        include 'VisFashionBundle:Cart:_product-field.html.twig' with {
            'productPrice': product.price, 
            'productId':    product.id, 
            'productSize':  product.sizes
        } 
    %}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.comment-toggle-edit').toggle(startEditing, saveChanges);
        
        setupShoppingCartWidget( {{ product.id }});
    });
    
    function startEditing() {
        var comment = $(this).parent('.comment');
        comment.find('textarea').attr('disabled', false);
        $(this).html('<i class="icon-ok"></i> Save');
        $(this).button('toggle');
    }

    function saveChanges() {
        var comment = $(this).parent('.comment');
        comment.find('form').submit();
        comment.find('textarea').attr('disabled', true);
        $(this).html('<i class="icon-edit"></i> Edit');
        $(this).button('toggle');
    }
    </script>
{% endblock %}