{% extends 'VisFashionBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/visfashion/css/registrationVendor.css') }}" />
{% endblock %}
{% block content %}
    <h2>Register vendor</h2>
    <hr />
    
    <div class="span8 offset1">
        <h4>Vendor</h4>
        <hr />
        {{ form_start(registrationForm,{'attr': {'class': 'form-horizontal'}}) }}
        {{ form_row(registrationForm.vendor.title, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(registrationForm.vendor.uic, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(registrationForm.vendor.description, {'attr': {'class': 'input-block-level'}}) }}

        <h4>User</h4>
        <hr />
        {{ form_row(registrationForm.user.username, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(registrationForm.user.realName, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(registrationForm.user.email, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(registrationForm.user.password.first, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(registrationForm.user.password.second, {'attr': {'class': 'input-block-level'}}) }}
        <hr />
        {{ form_row(registrationForm.captcha) }}
        {{ form_row(registrationForm.termsAccepted) }}

        <div class="control-group">
            <div class="controls">
            {{ form_widget(registrationForm.register, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}