{% extends 'VisFashionBundle::layout.html.twig' %}

{% block content %}
<h2>Register user</h2>
    <hr />
    
    <div class="span8 offset1">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_row(form.username, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(form.realName, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(form.password.first, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(form.password.second, {'attr': {'class': 'input-block-level'}}) }}
        <hr />
        {{ form_row(form.captcha) }}
        {{ form_row(form.termAccept) }}
        <div class="control-group">
            <div class="controls">
            {{ form_widget(form.register, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}