<ul class="nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            {% set p_count = product_container.ids | length %}
            <span class="badge{{ p_count > 0 ? ' badge-info'}}">{{ p_count }}</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for p in product_container.products %}
            <li>
                <a href="{{ path('product_compare_remove', {'id': p.id}) }}"><i class="icon-remove"></i> {{ p.title }}</a>
            </li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{{ path('product_compare') }}">Сравни</a></li>
        </ul>
    </li>
    <li><a href="{{ path('search_results_product') }}">Стоки</a></li>
    <li><a href="{{ path('search_results_vendor') }}">Търговци</a></li>
    
    {% if is_granted('ROLE_VENDOR_ADMIN') %}
        <li><a href="{{ path('vendor_index') }}">Търговски панел</a></li>
    {% endif %}
</ul>