{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visfashion/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/visfashion/css/styles.css') }}" />
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@VisFashionBundle/Resources/public/js/jquery.js'
        '@VisFashionBundle/Resources/public/js/bootstrap.js'
        '@VisFashionBundle/Resources/public/js/scripts.js'
        '@FOSJsRoutingBundle/Resources/js/router.js' 
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    
{% block body %}
    {# Begin header #}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('_home') }}">VisFashion</a>
                <div class="nav-collapse collapse">
                {% block header %}
                    {% include "VisFashionBundle::_navigation.html.twig" %}
                        
                    <form class="navbar-form pull-right" method="POST" action="{{ path('user_login_check') }}">
                        <a href="{{ path('shopping_cart_index') }}" class="btn" {% if app.user is not null %}style="margin-top: 0px"{% endif %}>
                            <i class="icon-shopping-cart"></i>
                        </a>
                        
                        {% if app.user is null %}
                        <input class="span2" type="text" name="_username" placeholder="Потребител" />
                        <input class="span2" type="password" name="_password" placeholder="Парола" />
                        <button class="btn" type="submit">Вход</button>

                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Регистриране<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a tabindex="-1" href="{{ path('user_register') }}">Потребител</a></li>
                                <li><a tabindex="-1" href="{{ path('vendor_register') }}">Търговец</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <span class="navbar-text">
                            Влезнали сте като 
                            <a href="{{ path('user_edit_profile') }}">{{ app.user.username }}</a>
                            <a class="btn btn-small" href="{{ path('user_logout') }}" style="margin-top: 0px">Изход</a>
                        </span>
                        {% endif %}
                    </form>
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {# End header #}

    {# Begin body content #}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                {% block leftSide %}
                    {{ render(controller('VisFashionBundle:Category:list')) }}
                {% endblock %}
            </div>
            <div class="span8">
                <div class="row-fluid">
                    <div id="alerts">
                    {% block flashMessages %}
                        {% for flash in app.session.flashbag.get('notice') %}
                            <div class="alert alert-info">
                                {{ flash }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>    
                            </div>
                        {% endfor %}

                        {% for flash in app.session.flashbag.get('error') %}
                            <div class="alert alert-error">
                                {{ flash }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endfor %}
                    {% endblock %}
                    </div>
                </div>
                <div class="row-fluid">
                {% block content %}{% endblock %}
                </div>
            </div>
            <div class="span2">
                {% block rightSide %}{% endblock %}
            </div>
        </div>
        
        {# Begin footer #}
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {# End footer #}
    </div>
    {# End body content #}
{% endblock %}