<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
    <i class="{{ options['class'] == 'asc' ? 'icon-chevron-up'}} {{ options['class'] == 'desc' ? 'icon-chevron-down'}}"></i> {{ title }}
</a>