{% extends 'VisFashionBundle::layout.html.twig' %}

{% block title %}Редактиране на потребител{% endblock %}

{% block content %} 
    {% block flashMessages %}
        {% for flash in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">{{ flash }}</div>
        {% endfor %}
        {% for flash in app.session.flashbag.get('error') %}
            <div class="error alert-info">{{ flash }}</div>
        {% endfor %}
    {% endblock %}
    <div class="row-fluid span8 offset1">
        <h2>Edit user</h2>
        <hr />
        
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    
        {{ form_row(form.realName, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(form.password.first, {'attr': {'class': 'input-block-level'}}) }}
        {{ form_row(form.password.second, {'attr': {'class': 'input-block-level'}}) }}
        <div class="control-group">
            <div class="controls">
                {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}