{% extends "VisFashionBundle::layout.html.twig" %}

{% block title %}Fashion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <form action="{{ path("user_login_check") }}" method="post" class="form-signin">
        <h2>Please sign in</h2>
        {% if error %}
        <p class="alert alert-error">{{ error.message }}</p>
        {% endif %}
        <div>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-block-level" placeholder="Username or Email" />
        </div>
        <div>
            <input type="password" id="password" name="_password" class="input-block-level" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-large btn-primary">Login</button>
    </form>
</div>
{% endblock %}
