<div class="row-fluid">
    <div id="prodCart" class="span10">
        <h4>Цена: {{ productPrice }} лв.</h4>
        
        <div class="input-append">
            <input class="input-mini" type="text" id="_cartProdQuantity" />

            <button class="btn" id="_cartProdQuantityInc" type="button"><i class="icon-plus"></i></button>
            <button class="btn" id="_cartProdQuantityDec" type="button"><i class="icon-minus"></i></button>
        </div>
        <select id="prodSize" class="input-small">
        {% for prodSize in productSize %}
            <option>{{ prodSize.getSize() }}</option>
        {% endfor %}
        </select>
        <div class="text-center">
            <button class="btn btn-large btn-primary" id="_cartProdBuy">Купи</button>
        </div>
    </div>
</div>