{% extends 'VisFashionBundle::layout.html.twig' %}

{% block title %}Пазарна Количка{% endblock %}

{% block content %}
    {% if productData is not empty %}
    <div class="modal hide fade" id="_cartEmptyDialog">
        <div class="modal-header">
            <h4>Изпразване на количката <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
        </div>
        <div class="modal-body">
            <p>Моля потвърдете, че искате да изтрийте всичко от количката!</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="_cartEmptyCancel" class="btn">Отказ</a>
            <a href="#" id="_cartEmptyConfirm" class="btn btn-danger">Потвърди</a>
        </div>
    </div>
    <div class="center span7 offset3">
        <table class="table" id="_cartList">
            <thead>
                <th id="_cartIndex">#</th>
                <th id="_cartName">Име</th>
                <th id="_cartSize">Размер</th>
                <th id="_cartQuantityHead">Количество</th>
                <th id="_cartPriceUnit">Ед. Цена</th>
                <th id="_cartPrice">Цена</th>
                <th id="_cartAction"></th>
            </thead>
            <tbody>
            {% set num = 0 %}
            {% for product in productData %}
                {% set num = num + 1 %}
                <tr>
                    <td>{{ num }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.size }}</td>
                    <td><input type="text" value="{{ product.quantity }}" id="_cartQuantity" /></td>
                    <td>{{ product.price_unit }} лв.</td>
                    <td>{{ product.price }} лв.</td>
                    <td><a class="btn btn-small _cartProdDrop" data-product="{{ product.id }}_{{ product.size }}">
                        <i class="icon-trash"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td style="text-align: left"><b>Общо</b></td>
                    <td>{{ grandTotal }} лв.</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-success pull-left" id="_cartButtonUpdate"><i class="icon-check"></i>&nbsp;Обнови</button>
        <button class="btn btn-warning pull-right" id="_cartButtonEmpty"><i class="icon-trash"></i>&nbsp;Изпразни</button>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function () {
        setupShoppingCartIndex();
    });
</script>
{% endblock %}