<div class="row">
{{ form_start(form, {'attr': {'class': 'form-horizontal span8 offset1'}}) }}
{{ form_row(form.title, {'attr': {'class': 'input-block-level'}}) }}
{{ form_row(form.price, {'attr': {'class': 'input-block-level'}}) }}
{{ form_row(form.category, {'attr': {'class': 'input-block-level'}}) }}
{{ form_row(form.description, {'attr': {'class': 'input-block-level', 'rows': '9'}}) }}
{{ form_row(form.type, {'attr': {'class': 'input-block-level'}}) }}
{{ form_row(form.producer, {'attr': {'class': 'input-block-level'}})}}
{{ form_row(form.country, {'attr': {'class': 'input-block-level'}})}}
<div class="control-group {{ form.sizes.vars.errors|length > 0 ? 'error' : '' }}">
    {{ form_label(form.sizes, 'Sizes', {'label_attr': {'class': 'control-label'}}) }}
    <div id="vis_fashionbundle_producttype_sizes" class="controls">
        {{ form_widget(form.sizes) }}
        {{ form_errors(form.sizes) }}
    </div>
</div>

<h3 class="offset1">Additional Fields</h3>

<div class="control-group">
<ul class="fields inline" data-prototype="
    {{ form_widget(form.fields.vars.prototype.children.name, {'attr': {'class': 'span1'}}) | e }}
    {{ form_widget(form.fields.vars.prototype.children.data, {'attr': {'class': 'span3'}}) | e }}
    {{ '<button class="btn btn-danger remove span1"><i class="icon-remove"></i></button>' | e }}
">
    {% for field in form.fields %}
    <li class="controls controls-row">
        {{ form_widget(field.name, {'attr': {'class': 'span1'}}) }}
        {{ form_widget(field.data, {'attr': {'class': 'span3'}}) }}
         <button class="btn btn-danger remove span1"><i class="icon-remove"></i></button>
    </li>
    {% endfor %}
</ul>
    <div class="controls controls-row">
        <p><a href="#" class="add_field_link btn btn-success"><i class="icon-plus icon-white"></i> Add</a></p>
    </div>
</div>
{{ form_row(form._token) }}

<div class="control-group">
    <hr/>
    <div class="controls">
        <button type="submit" class="btn btn-primary span2">{{ submit_text }}</button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
</div>

<script type="text/javascript">
var collection      = $('ul.fields');
var addFieldLink    = $('.add_field_link');
var sizesDiv        = $('#vis_fashionbundle_producttype_sizes');
var producerSelect  = $('#vis_fashionbundle_producttype_producer');
var sizesPath       = "{{ path('sizes_by_producer') }}" + '/' + producerSelect.val();

$(document).ready(function() {
    // count inputs to set index
    collection.data('index', collection.find(':input').length);

    addFieldLink.on('click', function(e) {
        e.preventDefault();
        addFieldForm(collection);
    });
    
    $('button.remove').click(function(e) {
        $(this).parent('li').remove();
    });
    
    // load sizes on producer change
    producerSelect.change(function(e) {
        fetchSizes("{{ path('sizes_by_producer') }}" + '/' + producerSelect.val(), false);
    });
    
    if (producerSelect.val() !== null) {
        fetchSizes(sizesPath, true);
    }
});

function addFieldForm(collection) {
    
    var prototype = collection.data('prototype');
    
    var index = collection.data('index');
    
    var newForm = prototype.replace(/__name__/g, index);
    
    collection.data('index', index + 1);
    
    collection.append(($('<li class="controls controls-row"></li>')
            .append(newForm)));
    
    $('button.remove').click(function(e) {
        $(this).parent('li').remove();
    });
}

function showSizes(data, div) {
    $.each(data, function(i, item) {
        var input = div.find('input[value="' + item.id + '"]');
        var label = input.parent('label');
        input.show();
        label.show();
     });
}

function fetchSizes(sizesPath, selected) {
    $.get(sizesPath, function (data) {
            if (!selected) {
                sizesDiv.find('input').prop('checked', false).hide();
            } else {
                sizesDiv.find('label').hide();
            }
            sizesDiv.find('label').hide();
            showSizes(data, sizesDiv)
    }, 'json');
}

</script>