{% extends 'VisFashionBundle:VendorAdmin:layout.html.twig' %}

{% block container_content %}
<h2>Edit product {{ product.id }}</h2>
<hr/>

{% include 'VisFashionBundle:VendorAdmin/Product:_form.html.twig' with {'form': form, 'submit_text': 'Update'} %}

{% endblock %}