{% extends 'VisFashionBundle:VendorAdmin:layout.html.twig' %}

{% block container_content %}
<h2>Products from <a href="{{ path('vendor_show', {'id': vendor.id}) }}">{{ vendor.title }}</a></h2>
<hr/>
{% if pagination is not empty %}
<table class="table table-striped table-bordered">
    <thead>
<tr>
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
    <th{% if pagination.isSorted('p.Title') %} class="sorted"{% endif %}>
        {{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}
    </th>
    <th{% if pagination.isSorted('p.Price') %} class="sorted"{% endif %}>
        {{ knp_pagination_sortable(pagination, 'Price', 'p.price') }}
    </th>
    <th{% if pagination.isSorted('p.Creator.Id') %} class="sorted"{% endif %}>
        {{ knp_pagination_sortable(pagination, 'Creator', 'p.creator.id') }}
    </th>
    <th{% if pagination.isSorted('p.DateCreated') %} class="sorted"{% endif %}>
        {{ knp_pagination_sortable(pagination, 'Date Created', 'p.dateCreated') }}
    </th>
    <th{% if pagination.isSorted('p.Updator.Id') %} class="sorted"{% endif %}>
        {{ knp_pagination_sortable(pagination, 'Creator', 'p.updator.id') }}
    </th>
    <th{% if pagination.isSorted('p.DateUpdated') %} class="sorted"{% endif %}>
        {{ knp_pagination_sortable(pagination, 'Date Updated', 'p.dateUpdated') }}
    </th>
    <th>Actions</th>
</tr>
</thead>

<tbody>
{% for product in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ product.id }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.creator.username }}</td>
    <td>{{ product.dateCreated | date('Y-m-d H:i:s') }}</td>
    <td>{{ product.updator.username }}</td>
    <td>{{ product.dateUpdated | date('Y-m-d H:i:s') }}</td>
    <td>
        <a href="{{ path('vendor_product_show', {'vendor_id': vendor.id, 'id': product.id}) }}" class="btn btn-link btn-mini">View</a>
        {% if is_granted('EDIT', product) %}
        <a href="{{ path('vendor_product_edit', {'vendor_id': vendor.id, 'id': product.id}) }}" class="btn btn-mini"><i class="icon-edit"></i></a>
        {% endif %}
        {% if is_granted('DELETE', product) %}
            <form method="post" action="{{ path('vendor_product_delete', {'vendor_id': vendor.id, 'id': product.id}) }}" class="remove-product" style="display:inline">
                <button class="btn btn-danger btn-mini"><i class="icon-remove"></i></button>
            </form>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% else %}
<div class="well">
    No products
</div>
{% endif %}

{% if vendor.owner == app.user %}
<a href="{{ path('vendor_product_new', {'vendor_id': vendor.id}) }}" class="btn btn-primary">Add more products</a>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function () {
        $('.remove-product').submit(function () {
            return confirm('Are you sure you want to delete?');
        });
    });
</script>
{% endblock %}