{% extends 'VisFashionBundle:VendorAdmin:layout.html.twig' %}

{% block container_content %}
<h2>Add new product</h2>
<hr/>

{% include 'VisFashionBundle:VendorAdmin/Product:_form.html.twig' with {'form': form, 'submit_text': 'Create'} %}

{% endblock %}