{% extends 'VisFashionBundle:VendorAdmin:layout.html.twig' %}

{% block container_content %}
<h2>
{{ product.title }} related to {{ vendor.title }}
{% if is_granted('EDIT', product) %}
<a href="{{ path('vendor_product_edit', {'vendor_id': vendor.id, 'id': product.id}) }}" class="btn pull-right">Edit</a>
{% endif %}
</h2>
<div class="row">
    <ul class="thumbnails span4">
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" />
            </div>
        </li>
    </ul>
    <div class="details span7 offset1">
        <p>Price: <strong>{{ product.price }}</strong></p>
        <p>Category: <strong>{{ product.category.name }}</strong></p>
        <p>Type: <strong>{{ product.type }}</strong></p>
        <p>Producer: <strong>{{ product.producer.name }}</strong></p>
        <p>Sizes:
            <strong>
            {% for s in product.sizes %}
                {{ s.size }}
            {% endfor %}
            </strong>
        </p>
        {% for p in product.fields %}
        <p>{{ p.name | capitalize }}: <strong>{{ p.data }}</strong></p>
        {% endfor %}
        <p>Description:</p>
        <p>{{ product.description | nl2br }}</p>
    </div>
</div>
<hr/>
<div class="row">
    <p class="muted text-left span6">
        <strong>created</strong> on {{ product.dateCreated | date('d-m-Y H:i:s') }}
        by <strong>{{ product.creator.username }}</strong>
    </p>
    {% if product.dateCreated != product.dateUpdated %}
    <p class="muted text-right span6">
        <strong>last change</strong> on {{ product.dateUpdated | date('d-m-Y H:i:s') }}
        by <strong>{{ product.updator.username }}</strong>
    </p>
    {% endif %}
</div>
<hr/>
<h3>Comments</h3>
{% if comments is not empty %}
{% for c in comments %}
<div>
    <p class="muted">
        {% if c.dateUpdated | date('d') == "now" | date('d') %}
        <span class="label label-info">today!</span>
        {% endif %}
        <strong>{{ c.creator.username }}</strong> said on <strong>{{ c.dateCreated | date('Y-m-d H:i:s') }}</strong>
        {% if c.dateCreated != c.dateUpdated %}
        | last updated on <strong>{{ c.dateUpdated | date('Y-m-d H:i:s') }}</strong> by <strong>{{ c.updator.username }}</strong>
        {% endif %}
    </p>
    <div class="well">
        <small>{{ c.content | nl2br }}</small>
    </div>
</div>
{% endfor %}
<div class="navigation"> {{ knp_pagination_render(comments) }}</div>
{% else %}
<div class="well">There are no comments</div>
{% endif %}
{% endblock %}