{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/visfashion/css/jquery-ui.css' }}" rel="stylesheet" />
    <link href="{{ asset('bundles/visfashion/css/bootstrap.css') }}" rel="stylesheet" />
{% endblock %}
    
{% block title %} Fashion {% endblock %}

{% block body %}
    {% block nav %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="{{ path('_home') }}" class="brand">VisFashion</a>
                <ul class="nav">
                {% block nav_li %}
                    <li><a href="{{ path('vendor_index') }}">Home</a></li>
                {% endblock %}
                    <li><a href="{{ path('vendor_list') }}">Vendors</a></li>
                </ul>
                <div class="navbar-text pull-right">{{ app.user.username }} | <a href="{{ path('user_logout') }}">Logout</a></div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="container">
        {% block container %}
            <h3 class="muted">{% block caption %} Title {% endblock %}</h3>
            {% block flashMessages %}
            {% for flash in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">{{ flash }}</div>
            {% endfor %}
            {% endblock %}
            {% block container_content %}
            {% endblock %}
        {% endblock %}
        <hr/>
        <footer class="footer text-center">Copyright (c) 2013 Quartet Vis Practicee</footer>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/visfashion/js/jquery.js' }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/visfashion/js/jquery-ui.js' }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/visfashion/js/bootstrap.js') }}" type="text/javascript/"></script>
    <script src="{{ asset('bundles/visfashion/js/underscore.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js' }}" type="text/javascript"></script>
{% endblock %}