{% extends "VisFashionBundle::layout.html.twig" %}
{%block nachaloActive%} {% endblock %}
{%block turseneActive%}class="active"{% endblock %}
{% block options %}
    <div id='subOptions'>
         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; width: 98%;">
            <li><a href="{{path('_searchArticles')}}">Дрехи</a></li>
            <li><a href="{{path('_searchShoes')}}">Обувки</a></li>
            <li><a href="{{path('_searchFirms')}}">Фирми</a></li>
        </ul>
    </div>
{% endblock %}