{% extends 'VisFashionBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid">
{{ form_start(form, {'attr': {'class': 'form-search span6 offset3' } }) }}
    <div class="input-append">
        {{ form_widget(form.title, {'attr': {'class': 'search-query input-xlarge'} }) }}
        {{ form_widget(form.search, {'attr': {'class': 'btn'} }) }}
    </div>
{{ form_end(form) }}
</div>

<div class="row-fluid">
{% if pagination is defined %}
    {% include 'VisFashionBundle:Vendor:_vendor-grid.html.twig' with {'items_per_row': 4, 'pagination': pagination} %}
{% endif %}
</div>

{% endblock %}
