{% extends 'VisFashionBundle::layout.html.twig' %}

{% set items_per_row = 4 %}
{% set span_size = 12 / items_per_row %}

{% block stylesheets %}
    {{ parent() }}
<style>
        .slider-horizontal{
            width: 100% !important;
        }
</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/visfashion/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/visfashion/js/bootstrap-slider.js') }}"></script>
{% endblock %}
    
{% block title %}Търсене{% endblock %}
    
{% block content %}
    {% if products is defined %}
        {% set row_opened = false %}
        
    {% if pagination is defined %}
        <div class="nav nav-pills">
            <li{% if pagination.isSorted('prod.price') %} class="active"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Price', 'prod.price') }}
            </li>
            <li{% if pagination.isSorted('prod.dateUpdated') %} class="active"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Date Updated', 'prod.dateUpdated') }}
            </li>
        </div>
    {% endif %}

        {% for product in products %}
            {% if loop.index0 % items_per_row == 0 %}
                {% if row_opened %}
                </div>
                {% endif %}
                
                {% set row_opened = true %}
                <div class="row-fluid">
            {% endif %}
            {% include 'VisFashionBundle:Product:_product-grid-entry.html.twig' with {'span_size': span_size} %}
        {% endfor %}

        {% if row_opened %}
        </div>
        {% endif %}

        {% if pagination is defined %}
            <div class="row-fluid">
                <span class="text-center">{{ knp_pagination_render(pagination) }}</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
    
{% block rightSide %}
    {{ form_start(form) }}
        {{ form_widget(form.title, {'attr': {'class': 'input-block-level', 'placeholder': 'Име'} }) }}
         
        {{ form_label(form.price, 'Цена') }}
        {{ form_widget(form.price, {'attr': {
                'class': 'slider',
                'data-slider-min': price.min,    'data-slider-max': price.max,
                'data-slider-step': price.step,  'data-slider-value': price.current,
                'data-slider-orientation': 'horizontal',
                'data-slider-selection': 'after',
                'data-slider-tooltip': 'show'
            }
        }) }}
                
        {{ form_label(form.dateCreated) }}
        {{ form_widget(form.dateCreated, {'attr': {'class': 'datepicker input-block-level'} }) }}
    
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'input-block-level'} }) }}
        
        {{ form_label(form.size) }}
        <div class="boxes">
            {{ form_widget(form.size) }}
        </div>
        {{ form_label(form.vendor) }}
        <div class="boxes">
            {{ form_widget(form.vendor) }}
        </div>
        {{ form_label(form.category) }}
        <div class="boxes">
            {{ form_widget(form.category) }}
        </div>
        {{ form_row(form.search, {'attr': {'class': 'btn', 'style': 'margin-top: 10px'} }) }}
    
    {{ form_end(form) }}
{% endblock %}
