{% extends "VisFashionBundle::layout.html.twig" %}

{% set items_per_row = 4 %}
{% set span_size = 12 / items_per_row %}

{% block content %}

<div class="row-fluid">
    <div class="span6 offset4">
        <form class="form-search inline" method="GET" action="{{ path('search_results_product') }}">
            <div class="input-append">
                {{ form_widget(product_search.title, {'attr': {'class': 'input-xlarge search-query'} }) }}
                {{ form_widget(product_search.search, {'attr': {'class': 'btn'} }) }}
            </div>
        </form>
    </div>
</div>

{% set row_opened = false %}

{% for product in pagination %}

    {% if loop.index0 % items_per_row == 0 %}
        {% if row_opened %}
        </div>
        {% endif %}
        {% set row_opened = true %}
        <div class="row-fluid">
    {% endif %}
    {% include 'VisFashionBundle:Product:_product-grid-entry.html.twig' with {'span_size': span_size} %}
{% endfor %}

{% if row_opened %}
</div>
{% endif %}

{% if pagination is defined %}
    <div class="row-fluid">
        <span class="text-center">{{ knp_pagination_render(pagination) }}</span>
    </div>
{% endif %}
        
{% endblock %}
        
{% block rightSide %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in pharetra erat. Morbi a est ut massa dictum facilisis. In consectetur nisl sapien, vel laoreet nibh porttitor hendrerit. Donec sit amet sodales turpis, eget tincidunt lacus. Sed sit amet odio pretium, cursus ante sed; semper massa. Praesent sit amet ante adipiscing, tincidunt est sed, pulvinar leo! Ut nec vulputate eros, nec dignissim risus. Donec tristique luctus ipsum. Praesent libero nibh, ultrices ut velit in, pellentesque euismod turpis! Aenean tempus tincidunt velit, vitae egestas nulla iaculis nec. Vivamus euismod lacus bibendum nisl malesuada commodo. Aenean vel blandit ante.
</p>
{% endblock %}