*{
    margin: 0px;
    padding: 0px;
}
p.center{
    text-align: center;
}

div#menu{
    border: 1px solid black;
    text-align:center;
}

p.link{
    text-align: center;
    display:inline;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid green;
}
p.link a{
    text-decoration: none;
}

/*--------------------------------------*/


div#userInfo{
    border:2px solid #002a80;
    height: 40px;
    background-color: #0088cc;
    box-shadow: 0px 4px 3px #1b1b1b;
    margin-bottom: 5px;
}

div#container{
    height: 130px;
    border:3px solid #444;
    margin-bottom: 10px;
    overflow-x: auto;
    box-shadow: 0px 5px 4px #444;
    background-color: #D0D0D0; 
}

div#options{
    height: 450px;
    border: 2px solid #0044cc;
    box-shadow: 4px 3px 2px #444;
    border-radius: 6px;
}

div#content{
    height: 450px;
    border: 2px solid #0044cc;
    box-shadow: 1px 3px 2px #444;
    border-radius: 8px;
}

div#rightBar{
    height: 450px;
    border: 2px solid #0044cc;
    box-shadow: -4px 3px 2px #444;
    border-radius: 6px;
}

div#border{
    border-bottom: 2px solid #0044cc;
    margin-bottom: 5px;
    box-shadow: 0px 2px 2px #444;
}

div.delim{
    height:1px;
    border-bottom: 2px solid #0044cc;
    margin-bottom: 5px;
    margin-top: -1px;
}

.bluebg{
    padding-top: 8px;
    background-color: #0088cc;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    height: 38px;
    border-radius: 1px;
}
