{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
<div class="sonata-ba-content">
    <div class="connection">
        <form action="{{ path('admin_login_check') }}" method="post">
            <div class="control-group">
                <p class="lead">Fashion Admin</p>
                <hr/>
            </div>
            {% if error %}
            <div class="alert alert-error">{{ error.message }}</div>
            {% endif %}
            <div class="control-group">
                <label for="username">Username:</label>

                <div class="controls">
                    <input type="text" id="username" name="_username" value="" class="big sonata-medium"/>
                </div>
            </div>

            <div class="control-group">
                <label for="password">Password:</label>

                <div class="controls">
                    <input type="password" id="password" name="_password" class="big sonata-medium" />
                </div>
            </div>
            
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Login" />
            </div>
        </form>
    </div>
</div>
{% endblock %}